.main-left-child1{
  border-top: hsl(180, 62%, 55%) 5px solid;
}
.main-middle-child1{
  border-top:hsl(0, 78%, 62%) 5px solid ;
  max-height: 100%;
}
.main-middle-child2{
  border-top: hsl(34, 97%, 64%) 5px solid;
}
.main-right-child1{
  border-top: hsl(212, 86%, 64%) 5px solid
  ;
}

.card{
  box-shadow: 1px 5px 13px rgba(128, 128, 128, 0.336);
}